/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}
h5 {
    padding-bottom: 1em;
}
.stock-result {
    font-weight: 500;
}
.stock-result-bd {
    width: fit-content;
    border-color: black;
    border-width: 1.5px;
    border-style: solid;
    padding: 1em;
}
.py-5 {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.custom-list {
    justify-content: space-around;
    min-width: 100%;
    border-style: solid;
    border-width: 0 0 thin 0;
    border-radius: 0;
}
.custom-list.bottom {
    border-style: none;
    padding-top: 1em;
    padding-bottom: 0;
}
.master-list {
    min-width: 100%;
    border-style: solid;
    border-width: thin 0 0 0;
    border-radius: 60px;
    list-style-type: none;
}
.custom-style {
    padding: 1em 0px;
    text-align: center;
}
ul.custom-style {
    margin-top: 2em;
}
.custom-style.head {
    font-weight: bold;
}
.custom-style.bottom {
    padding-bottom: 0;
}
.custom {
    border: none;
}
.margin-0 {
    margin: 0 !important;
}
.width-fill {
    width: 100% !important;
}
.text-align {
    text-align: center;
}